.container {
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
  font-family: "Inter", sans-serif;
  color: #222;
  margin-top: 10rem;
  margin-bottom: 5rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #383838;
  margin-bottom: 2rem;
 
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
}

.tag {
  padding: 0.4rem 1rem;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: 500;
  color: #fff;
}

.fund {
  background-color: #c8bafe;
}

.equity {
  background-color: #8a7cff;
}

.collab {
  background-color: #2b254d;
}

.sectionTitle {
  font-size: 1.2rem;
  font-weight: 600;
  color: #444;
  margin: 1.5rem 0 0.5rem;
}

.description {
  color: #444;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.divider {
  border: none;
  border-top: 1px solid #ddd;
  margin: 2rem 0;
}

.performance {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 1.5rem;
}

.metric {
  min-width: 180px;
}

.metricLabel {
  font-size: 0.85rem;
  text-decoration: underline;
  margin-bottom: 1rem;
  color: #666;
}
.metricLabel2{
  display: flex;
  
}
.metricLabel2 img{
padding-right: 1rem;
width: 2rem;
}
.metricValue {
  font-weight: 600;
  font-size: 1.1rem;
  padding: 1rem 0 1rem 0;
  color: #313131;
}

.positions {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
}

.btn {
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 10px;
  background-color: #f1f1f1;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #ddd;
}

.btn:focus {
  background-color: #ded8ff;
  color: #2b254d;
}

/* Responsive */
@media (max-width: 768px) {
  /* .performance {
    flex-direction: column;
  } */

  .positions {
    flex-direction: column;
  }

  .title {
    font-size: 1.6rem;
  }

  .btn {
    width: 100%;
  }
}
@media (max-width: 880px) {
  .container , .tags , .performance{
    justify-content: center;
    /* background-color: red; */
    align-items: center;
    text-align: center;
  }
}